In [130]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [131]:
df = pd.read_csv('sol-usd.csv')
df.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020-04-10 00:00:00+00:00,0.832005,1.313487,0.694187,0.951054,87364276,0.0,0.0
1,2020-04-11 00:00:00+00:00,0.951054,1.049073,0.765020,0.776819,43862444,0.0,0.0
2,2020-04-12 00:00:00+00:00,0.785448,0.956670,0.762426,0.882507,38736897,0.0,0.0
3,2020-04-13 00:00:00+00:00,0.890760,0.891603,0.773976,0.777832,18211285,0.0,0.0
4,2020-04-14 00:00:00+00:00,0.777832,0.796472,0.628169,0.661925,16747614,0.0,0.0

In [133]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

In [134]:
df.drop([ 'Open', 'High', 'Low',  'Dividends', 'Stock Splits', 'Volume'], inplace = True, axis = 1)

In [135]:
df['time'] = pd.to_datetime(df['Date'])
df['formatted_time'] = df['time'].dt.strftime('%d-%m-%Y')
df['formatted_time']

0       10-04-2020
1       11-04-2020
2       12-04-2020
3       13-04-2020
4       14-04-2020
           ...
1511    30-05-2024
1512    31-05-2024
1513    01-06-2024
1514    02-06-2024
1515    03-06-2024
Name: formatted_time, Length: 1516, dtype: object

In [136]:
df.drop([ 'Date', 'time'], inplace = True, axis = 1)

In [137]:
df

           Close formatted_time
0       0.951054     10-04-2020
1       0.776819     11-04-2020
2       0.882507     12-04-2020
3       0.777832     13-04-2020
4       0.661925     14-04-2020
...          ...            ...
1511  166.976532     30-05-2024
1512  165.637711     31-05-2024
1513  166.030670     01-06-2024
1514  163.249908     02-06-2024
1515  164.761383     03-06-2024

[1516 rows x 2 columns]

In [138]:
# df['Symbol'].unique()

In [139]:
# df[df['Symbol'] == 'BTC']['Close'].plot()

In [140]:
df.describe()

             Close
count  1516.000000
mean     54.675174
std      59.301607
min       0.515273
25%      14.102368
50%      30.028152
75%      91.004284
max     258.934326

In [141]:
# for i in df['Symbol'].unique():
#     print(len(df[df['Symbol'] == i]))

In [142]:
# state = pd.get_dummies(df['Symbol'])
# state

In [143]:
# df = df.drop('Symbol', axis = 1) 
# df = pd.concat([df, state], axis = 1)
# df.head()

In [144]:
# df = df.replace({True : 1, False : 0})

In [145]:
import pandas_ta as ta
 
df['SMA'] = ta.sma(df['Close'], length=5) 
df['EMA'] = ta.ema(df['Close'], length=5) 
df['RSI'] = ta.rsi(df['Close'], length=14)

In [146]:
df

           Close formatted_time         SMA         EMA        RSI
0       0.951054     10-04-2020         NaN         NaN        NaN
1       0.776819     11-04-2020         NaN         NaN        NaN
2       0.882507     12-04-2020         NaN         NaN        NaN
3       0.777832     13-04-2020         NaN         NaN        NaN
4       0.661925     14-04-2020    0.810027    0.810027        NaN
...          ...            ...         ...         ...        ...
1511  166.976532     30-05-2024  167.409421  168.110910  53.379252
1512  165.637711     31-05-2024  167.866782  167.286510  52.208216
1513  166.030670     01-06-2024  167.073688  166.867897  52.537340
1514  163.249908     02-06-2024  165.993500  165.661901  49.917586
1515  164.761383     03-06-2024  165.331241  165.361728  51.337966

[1516 rows x 5 columns]

In [147]:
df.fillna(0, inplace = True)

In [148]:
new_df = df.copy()

In [151]:
X = new_df.drop(['Close', 'formatted_time'], axis = 1).values
Y = new_df['Close'].values

In [154]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [155]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from keras.models import Sequential
from keras.layers import LSTM, GRU, Dense
from keras.optimizers import Adam

In [156]:
rf = RandomForestRegressor()
 
param_grid = {
    'n_estimators': [50, 100, 150, 200, 250, 300]
}
grid_search_rf = GridSearchCV(estimator=rf, param_grid=param_grid, cv=3)
grid_search_rf.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestRegressor(),
             param_grid={'n_estimators': [50, 100, 150, 200, 250, 300]})

In [157]:
best_rf = grid_search_rf.best_estimator_
best_rf

RandomForestRegressor(n_estimators=200)

In [158]:
y_pred_rf = best_rf.predict(X_test)
y_pred_rf

array([  0.57390012,   3.10914197, 138.85765129,  29.19924201,
        40.54552206,  20.99622374, 219.60334717,   2.22004571,
       137.33739914, 195.00672516,  21.10510779,   0.5809155 ,
       137.98721664,   2.52606811,  22.33598825,  39.7568088 ,
        38.94082041, 202.5685437 , 148.58533028,  33.07185707,
       141.42956902,   1.46167936,  23.38518939,   4.34290123,
        37.47501076,  28.25751584,  31.72033666,   2.08769228,
        14.88080362, 102.14166   ,   3.00857259,  87.6211348 ,
       211.53337387,  28.98130469,  33.52138174,  71.2382074 ,
        32.21959783,   0.72913628,  17.13740417,  20.25027003,
        40.42920876,  29.67391893,  65.06448854,  56.38004311,
       137.14202927,  39.40036524,  45.82538683,  14.20094518,
        23.30419487,  88.82233776,   0.64798233,  23.90531423,
        11.43866443, 160.86871384,  26.35294452, 163.18950996,
        28.56193191,  33.67925066,  31.46534193,  59.45087013,
        13.8728061 ,   3.19902606,  56.1550819 ,  21.77242802,
        38.70826876, 177.05656693,  24.00540417,  39.73130552,
        23.59094986, 177.06227264,  32.398434  , 107.17110794,
         0.59292711,  56.37246038, 133.25574074,  19.58586877,
         3.69419968,  20.16224965,  34.35552776,  20.26185987,
         1.90780707, 173.98252983,  19.29445704, 206.6137394 ,
        33.23330494,  12.80210378,  20.63713726,  73.39975002,
         2.08636735,   8.54572011,  16.33156603,  17.63695135,
        15.34060966,  33.69790465,  34.25088722,   0.58642093,
       161.8126963 ,  28.99665315,  26.38764857,   0.59543981,
        23.06140873,   3.93277667,  31.45248586,  22.28163193,
       200.26014847, 193.42407074,  21.97562902, 143.37682503,
        10.71213031,  43.24382532, 133.08293449,  66.07822189,
        14.00030856,  19.29628808,  19.60431359,   2.39036239,
       103.61347351,  21.66155976, 134.00758526,   3.02988277,
         0.57510587,   0.66610169,  22.25571448,  35.2305789 ,
         0.68833136, 244.47577736,  20.66322416,   1.54356934,
        82.45171387,   1.77144716,  39.30262878,  17.78994554,
        96.2124757 ,  30.82687797,  87.82860256,  25.23028085,
         0.7352052 ,   2.23495251,  98.33153912,   1.91690183,
        14.14636994,   0.64282163,  27.5225855 ,  21.7115176 ,
         6.40385638,  29.66683435,  39.53999735,   3.22995636,
       165.83633301,  22.61103293, 139.38545521,  13.26446761,
        26.53146665, 173.78458626,  19.68623626, 173.63926804,
       105.42258812,  21.35709317,  24.29234546,  13.66000007,
        40.07059895, 148.93846855,  53.36880384,  13.65269425,
        13.66085859,  22.54795181,   0.61199329,  40.87821758,
        40.12875542,  94.52233665,  96.0333847 ,   0.93674428,
        24.07851079,   1.32958479,  20.55386127,  25.08208141,
        38.66056087,  42.246682  ,  13.46750579,  24.38847802,
        19.18849009,  93.33702621,   3.41873697, 187.80219078,
       188.17977386,  90.74376659, 138.46695114,  99.4898333 ,
       175.36565186,  35.2723296 ,  87.19478771,   0.55162915,
        96.60995865,  27.9737466 ,  43.23149258,  14.96494665,
        33.54161987,  41.79050369,   1.94883476,  34.55197683,
       170.16862724, 148.43025711,  11.54406784,   2.86449903,
        21.00108851,  18.42405477,  20.88105628,  24.24312148,
         1.36096307, 212.12988045, 135.23148521,  41.01473846,
        23.99571208,  38.46209831,   2.12745917,  21.35675006,
        13.31671749,  35.65349606,   0.61285635,  24.34433062,
         1.60937391,  13.63351584,  28.8152749 ,  27.57464792,
       173.17049477,  32.15890401,  37.81182829,  27.91571813,
         1.88713787,  23.90082256,  23.30612223,   1.45549903,
       191.17093956,   1.9251469 ,  27.29786567,   0.56431803,
         0.64638641,  22.72772472,  32.05305319,  29.66012929,
       148.60736076, 101.0000386 , 100.96341496,  24.28477874,
        36.07338497,  14.30239277,  17.59944416,  31.4828284 ,
        17.4841955 ,  97.28642765,  22.85185166,  42.2554497 ,
         0.9974654 ,  56.50473862,   8.85844636,   3.12403081,
        20.78854208,  99.23592396, 169.14373772,  41.0129434 ,
       151.97009476, 209.77656433,  42.05634089, 192.90891251,
        13.11151192,  17.66235174,  40.07864767,   2.04500037,
        22.40745827,  21.4077605 , 174.264599  ,  34.40793446,
        33.61200172,   1.30572572,  44.64455654,  31.81737464,
        25.76175968,   0.62821819,   9.06192973,  34.25562462,
        33.90188183,  99.14982346,  24.98854118, 113.90179646,
        23.50754384,  14.1960148 ,  35.53994408,  29.66724468,
        16.25834894,  16.77459647, 101.96153282,   1.91778184,
       177.89575768,   1.92101279,  23.78115173,   0.8361128 ,
       110.97785175,  20.59594106,  16.57462717,   1.72388617,
        58.15784666,  31.18494362,  12.06599777,  28.65027594])

In [159]:
rf_metrics = {
    'RMSE': np.sqrt(mean_squared_error(y_test, y_pred_rf)),
    'MSE': mean_squared_error(y_test, y_pred_rf),
    'MAE': mean_absolute_error(y_test, y_pred_rf),
    'R2': r2_score(y_test, y_pred_rf)
}
print(rf_metrics)

{'RMSE': 2.710983771455888, 'MSE': 7.349433009097191, 'MAE': 1.3191343742628627, 'R2': 0.9977642176126416}

In [160]:
len(df)

1516

In [161]:
data = df [len(df) - 15:]

In [162]:
for i in range(2):
    sma = ta.sma(data['Close'], length=5).iloc[-1]
    ema = ta.ema(data['Close'], length=5).iloc[-1]
    rsi = ta.rsi(data['Close'], length=14).iloc[-1]
    # sma_5, ema_5, rsi_14 = scaler.transform(np.array([sma, ema, rsi]).reshape(-1, 1))
    # new_close = best_rf.predict([[ sma_5[0], ema_5[0], rsi_14[0]]])
    new_close = best_rf.predict([[sma, ema, rsi]])
    print(new_close)
    new_row = pd.DataFrame({"Close": new_close, "formatted_time" : "0", "SMA" : sma, "EMA" : ema, "RSI" : rsi})
    data = pd.concat([data, new_row], ignore_index= True)

[154.29010338]
[151.79022186]
[148.06703491]
[143.0415255]
[139.77252148]
[140.09543472]
[138.72189674]
[136.04753796]
[135.2646035]
[135.0139444]

In [164]:

# Evaluate the model
rf_metrics = {
    'RMSE': np.sqrt(mean_squared_error(y_test, y_pred_rf)),
    'MSE': mean_squared_error(y_test, y_pred_rf),
    'MAE': mean_absolute_error(y_test, y_pred_rf),
    'R2': r2_score(y_test, y_pred_rf)
}
print(rf_metrics)

{'RMSE': 2.710983771455888, 'MSE': 7.349433009097191, 'MAE': 1.3191343742628627, 'R2': 0.9977642176126416}

In [165]:
import pickle
with open('sol.pkl', 'wb') as f:
    pickle.dump(best_rf, f)